# Optional network acceleration settings
PROXY_URL=http://127.0.0.1:1082
PROXY_TEST_URL=https://huggingface.co
HF_ENDPOINT=https://hf-mirror.com
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple

# Only set this when your mirror has cert issues.
# Keeping this empty is safer.
# PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
